name: "Unassign Inactive Contributors"
run-name: Unassign Inactive Contributors

on:
  schedule:
    - cron: "*/8 * * * *" # Every 8 minute
  workflow_dispatch:

jobs:
  unassign-inactive:
    uses: SukhvirKooner/.github/.github/workflows/main.yaml@main
    with:
      inactivityPeriodInMinutes: 10
    secrets:
       WEB_Token: ${{ secrets.NEW_TOKEN }}

       
